  
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://images.wallpaperscraft.com/image/single/street_city_autumn_131015_3840x2160.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: 105%;
  height: 105%;
  z-index: -1;
  filter: blur(0px);
  
}

.loading-text {
  font-size: 50px;
  color: #ffff;
}